* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

body li{
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

header {
  width: 100%;
  line-height: 50px;
  background-color: black;
  color: white;
  position: fixed;
  top: 0;
  z-index: 10;
}

.header-left {
  float: left;
}

.header-left a {
  color: white;
  padding-left: 15px;

}

.header-logo {
  font-weight: bold;
  width: 25%;
}

.header-right {
  float: right;
}

.content-heading {
  width: 100%;
  height: 300px;
  opacity: 0.8;
  background-image: url(headding1.JPG);
  background-size: contain;
}

.content-main {
  width: 100%;
  padding: 20px;
  display: flex;
}

.content-item {
  width: 20%;
  text-align: center;


}

.content-icon {
  position: relative;
  font-weight: bold;
  cursor: pointer;

}

.content-icon img {
  width: 80%;
}

.content-icon p{
  position: absolute;
  top: 40%;
  width: 100%;
  color: white;
}

.content-text p {
  font-size: small;
}

footer {
  width: 100%;
  background-color: #52527a;
  color: white;
}

.footer-menu {
  display: flex;
}

.footer-list {
  font-size: x-small;
  padding: 15px;
}

.footer-list a {
  color: white;
}
